/*.zip
Contributions/*.xml
Contributions/GenericWrapper/*.xml
Contributions/GenericWrapper/__history
Contributions/__history
Demos/Advanced/*.bak
Demos/Advanced/*.cfg
Demos/Advanced/*.dcu
Demos/Advanced/*.ddp
Demos/Advanced/*.drc
Demos/Advanced/*.dsk
Demos/Advanced/*.exe
Demos/Advanced/*.map
Demos/Advanced/*.~dfm
Demos/Advanced/*.~dsk
Demos/Advanced/*.~pas
Demos/Advanced/Res/*.res
Demos/Advanced/__history
Demos/Minimal/*.cfg
Demos/Minimal/*.dcu
Demos/Minimal/*.ddp
Demos/Minimal/*.drc
Demos/Minimal/*.dsk
Demos/Minimal/*.exe
Demos/Minimal/*.map
Demos/Minimal/*.~dfm
Demos/Minimal/*.~dpr
Demos/Minimal/*.~pas
Demos/OLE/*.bak
Demos/OLE/*.cfg
Demos/OLE/*.dcu
Demos/OLE/*.drc
Demos/OLE/*.dsk
Demos/OLE/*.exe
Demos/OLE/*.map
Demos/OLE/*.~dpr
Demos/Objects/*.cfg
Demos/Objects/*.dcu
Demos/Objects/*.drc
Demos/Objects/*.dsk
Demos/Objects/*.exe
Demos/Objects/*.map
Demos/Objects/*.~dpr
Design/*.dcu
Design/*.~pas
Design/__history
Help/Source/*.bak
Help/Source/Include/*.bak
Help/Source/Output/*.css
Help/Source/Output/*.gif
Help/Source/Output/*.hhc
Help/Source/Output/*.hhk
Help/Source/Output/*.hhp
Help/Source/Output/*.html
Help/Source/Output/*.jpg
Help/Source/Output/*.js
Help/Source/Output/*.png
Packages/BDS[!!-~]2006/*.cfg
Packages/BDS[!!-~]2006/*.dof
Packages/BDS[!!-~]2006/*.identcache
Packages/BDS[!!-~]2006/*.local
Packages/BDS[!!-~]2006/*.rsp
Packages/BDS[!!-~]2006/Old
Packages/BDS[!!-~]2006/__history
Packages/Delphi[!!-~]2005/*.cfg
Packages/Delphi[!!-~]7/*.cfg
Packages/Delphi[!!-~]7/*.dcu
Packages/Delphi[!!-~]7/*.drc
Packages/Delphi[!!-~]7/*.dsk
Packages/Delphi[!!-~]7/*.~dpk
Packages/Delphi[!!-~]7/*.~dsk
Packages/Delphi[!!-~]XE/*.bak
Packages/Delphi[!!-~]XE/*.dcu
Packages/Delphi[!!-~]XE/*.identcache
Packages/Delphi[!!-~]XE/*.local
Packages/Delphi[!!-~]XE/__history
Packages/Delphi[!!-~]XE2/*.dcu
Packages/Delphi[!!-~]XE2/*.identcache
Packages/Delphi[!!-~]XE2/*.local
Resources/Thumbs.db
Source/*.bak
Source/*.dcu
Source/*.xml
Source/*.~inc
Source/*.~pas
Source/VTHeaderPopup.hpp
Source/VirtualTrees.hpp
Source/__history
