* text=auto !eol
CBuilder/VirtualTreesC5.bpk -text
CBuilder/VirtualTreesC5.cpp -text
CBuilder/VirtualTreesC5.res -text
CBuilder/VirtualTreesC5D.bpk -text
CBuilder/VirtualTreesC5D.cpp -text
CBuilder/VirtualTreesC5D.res -text
CBuilder/VirtualTreesC6.bpk -text
CBuilder/VirtualTreesC6.cpp -text
CBuilder/VirtualTreesC6.res -text
CBuilder/VirtualTreesC6D.bpk -text
CBuilder/VirtualTreesC6D.cpp -text
CBuilder/VirtualTreesC6D.res -text
Common/Compilers.h -text
Common/Compilers.inc -text
Common/MSAAIntf.pas -text
Common/Readme.txt -text
Contributions/GenericWrapper/VirtualTreeWrapper.pas -text
Delphi-deprecated/DelphiGems.VirtualTrees.Design.bdsproj.local -text
Delphi-deprecated/DelphiGems.VirtualTrees.Design.dpk -text
Delphi-deprecated/DelphiGems.VirtualTrees.bdsproj -text
Delphi-deprecated/DelphiGems.VirtualTrees.bdsproj.local -text
Delphi-deprecated/DelphiGems.VirtualTrees.dpk -text
Delphi-deprecated/DelphiGems.VirtualTrees.rsp -text
Delphi-deprecated/VirtualTreesD10.bdsproj -text
Delphi-deprecated/VirtualTreesD10.bdsproj.local -text
Delphi-deprecated/VirtualTreesD10.dpk -text
Delphi-deprecated/VirtualTreesD10.res -text
Delphi-deprecated/VirtualTreesD10D.bdsproj -text
Delphi-deprecated/VirtualTreesD10D.bdsproj.local -text
Delphi-deprecated/VirtualTreesD10D.dpk -text
Delphi-deprecated/VirtualTreesD10D.res -text
Delphi-deprecated/VirtualTreesD11.dpk -text
Delphi-deprecated/VirtualTreesD11.res -text
Delphi-deprecated/VirtualTreesD11D.dpk -text
Delphi-deprecated/VirtualTreesD11D.res -text
Delphi-deprecated/VirtualTreesD12.dpk -text
Delphi-deprecated/VirtualTreesD12.res -text
Delphi-deprecated/VirtualTreesD12D.dpk -text
Delphi-deprecated/VirtualTreesD12D.res -text
Delphi-deprecated/VirtualTreesD14.dpk -text
Delphi-deprecated/VirtualTreesD14.res -text
Delphi-deprecated/VirtualTreesD14D.dpk -text
Delphi-deprecated/VirtualTreesD14D.res -text
Delphi-deprecated/VirtualTreesD7.dpk -text
Delphi-deprecated/VirtualTreesD7.res -text
Delphi-deprecated/VirtualTreesD7D.dpk -text
Delphi-deprecated/VirtualTreesD7D.res -text
Delphi-deprecated/VirtualTreesD9.bdsproj -text
Delphi-deprecated/VirtualTreesD9.bdsproj.local -text
Delphi-deprecated/VirtualTreesD9.dpk -text
Delphi-deprecated/VirtualTreesD9.res -text
Delphi-deprecated/VirtualTreesD9D.bdsproj -text
Delphi-deprecated/VirtualTreesD9D.bdsproj.local -text
Delphi-deprecated/VirtualTreesD9D.dpk -text
Delphi-deprecated/VirtualTreesD9D.res -text
Demos/Advanced/Advanced.bdsproj -text
Demos/Advanced/Advanced.dpr -text
Demos/Advanced/Advanced.exe.Manifest -text
Demos/Advanced/Advanced.res -text
Demos/Advanced/AlignDemo.dfm -text
Demos/Advanced/AlignDemo.pas -text
Demos/Advanced/DrawTreeDemo.dfm -text
Demos/Advanced/DrawTreeDemo.pas -text
Demos/Advanced/Editors.pas -text
Demos/Advanced/GeneralAbilitiesDemo.dfm -text
Demos/Advanced/GeneralAbilitiesDemo.pas -text
Demos/Advanced/GridDemo.dfm -text
Demos/Advanced/GridDemo.pas -text
Demos/Advanced/HeaderCustomDrawDemo.dfm -text
Demos/Advanced/HeaderCustomDrawDemo.pas -text
Demos/Advanced/Main.dfm -text
Demos/Advanced/Main.pas -text
Demos/Advanced/MultilineDemo.dfm -text
Demos/Advanced/MultilineDemo.pas -text
Demos/Advanced/PropertiesDemo.dfm -text
Demos/Advanced/PropertiesDemo.pas -text
Demos/Advanced/Res/Arabic.uni -text
Demos/Advanced/Res/Background.bmp -text
Demos/Advanced/Res/Background2.bmp -text
Demos/Advanced/Res/Book.bmp -text
Demos/Advanced/Res/Chart.bmp -text
Demos/Advanced/Res/Chinese.bmp -text
Demos/Advanced/Res/Clipboard.bmp -text
Demos/Advanced/Res/Cyrillic.bmp -text
Demos/Advanced/Res/Earth.bmp -text
Demos/Advanced/Res/Exit.bmp -text
Demos/Advanced/Res/ExtraRes.rc -text
Demos/Advanced/Res/Eye.bmp -text
Demos/Advanced/Res/Fist.bmp -text
Demos/Advanced/Res/ForeignStrings.rc -text
Demos/Advanced/Res/Greek.uni -text
Demos/Advanced/Res/Header.bmp -text
Demos/Advanced/Res/Hebrew.uni -text
Demos/Advanced/Res/Image[!!-~]list[!!-~]24x24.bmp -text
Demos/Advanced/Res/Image[!!-~]list[!!-~]32x32.bmp -text
Demos/Advanced/Res/Lorem[!!-~]ipsum.uni -text
Demos/Advanced/Res/Multiline.bmp -text
Demos/Advanced/Res/Omega.bmp -text
Demos/Advanced/Res/Paintbrush.bmp -text
Demos/Advanced/Res/Sheets.bmp -text
Demos/Advanced/Res/Transcriptions.bmp -text
Demos/Advanced/Res/XP.bmp -text
Demos/Advanced/SpeedDemo.dfm -text
Demos/Advanced/SpeedDemo.pas -text
Demos/Advanced/States.dfm -text
Demos/Advanced/States.pas -text
Demos/Advanced/VisibilityDemo.dfm -text
Demos/Advanced/VisibilityDemo.pas -text
Demos/Advanced/WindowsXPStyleDemo.dfm -text
Demos/Advanced/WindowsXPStyleDemo.pas -text
Demos/Advanced/mainicon.ico -text
Demos/Minimal/Main.dfm -text
Demos/Minimal/Main.pas -text
Demos/Minimal/Minimal.dpr -text
Demos/Minimal/Minimal.exe.Manifest -text
Demos/Minimal/Minimal.res -text
Demos/Minimal/mainicon.ico -text
Demos/OLE/Main.dfm -text
Demos/OLE/Main.pas -text
Demos/OLE/OLE.dpr -text
Demos/OLE/OLE.exe.Manifest -text
Demos/OLE/Res/Extra.res -text
Demos/OLE/Res/Text.rtf -text svneol=unset#unset
Demos/OLE/mainicon.ico -text
Demos/Objects/MVCDemo.dpr -text
Demos/Objects/MVCDemo.res -text
Demos/Objects/MVCDemoMain.dfm -text
Demos/Objects/MVCDemoMain.pas -text
Demos/Objects/MVCPanel.pas -text
Demos/Objects/MVCTypes.pas -text
Demos/Objects/Objects.exe.Manifest -text
Demos/Objects/mainicon.ico -text
Demos/VirtualTreeview.bdsgroup -text
Demos/VirtualTreeview.bpg -text
Design/DelphiGems.VirtualControls.VirtualTreesReg.pas -text
Design/VirtualTrees.dcr -text
Design/VirtualTreesReg.hpp -text
Design/VirtualTreesReg.pas -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTrees.bdsproj -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTrees.dpk -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTrees.resources -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTrees.rsp -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTreesD.bdsproj -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTreesD.dpk -text
Packages/BDS[!!-~]2006/VirtualTrees.NET.resources -text
Packages/BDS[!!-~]2006/VirtualTrees.NET.resx -text
Packages/BDS[!!-~]2006/VirtualTreesD.bdsproj -text
Packages/BDS[!!-~]2006/VirtualTreesD.dpk -text
Packages/BDS[!!-~]2006/VirtualTreesD.res -text
Packages/BDS[!!-~]2006/VirtualTreesR.bdsproj -text
Packages/BDS[!!-~]2006/VirtualTreesR.dpk -text
Packages/BDS[!!-~]2006/VirtualTreesR.res -text
Packages/CBuilder[!!-~]2010/VirtualTrees.groupproj -text
Packages/CBuilder[!!-~]2010/VirtualTreesD.cbproj -text
Packages/CBuilder[!!-~]2010/VirtualTreesD.cpp -text
Packages/CBuilder[!!-~]2010/VirtualTreesD.res -text
Packages/CBuilder[!!-~]2010/VirtualTreesR.cbproj -text
Packages/CBuilder[!!-~]2010/VirtualTreesR.cpp -text
Packages/CBuilder[!!-~]2010/VirtualTreesR.res -text
Packages/Delphi[!!-~]2005/VirtualTreesD.bdsproj -text
Packages/Delphi[!!-~]2005/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2005/VirtualTreesD.res -text
Packages/Delphi[!!-~]2005/VirtualTreesR.bdsproj -text
Packages/Delphi[!!-~]2005/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2005/VirtualTreesR.res -text
Packages/Delphi[!!-~]2007/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2007/VirtualTreesD.dproj -text
Packages/Delphi[!!-~]2007/VirtualTreesD.res -text
Packages/Delphi[!!-~]2007/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2007/VirtualTreesR.dproj -text
Packages/Delphi[!!-~]2007/VirtualTreesR.res -text
Packages/Delphi[!!-~]2009/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2009/VirtualTreesD.res -text
Packages/Delphi[!!-~]2009/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2009/VirtualTreesR.res -text
Packages/Delphi[!!-~]2010/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2010/VirtualTreesD.res -text
Packages/Delphi[!!-~]2010/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2010/VirtualTreesR.res -text
Packages/Delphi[!!-~]7/VirtualTreesD.cfg -text
Packages/Delphi[!!-~]7/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]7/VirtualTreesD.res -text
Packages/Delphi[!!-~]7/VirtualTreesR.cfg -text
Packages/Delphi[!!-~]7/VirtualTreesR.dof -text
Packages/Delphi[!!-~]7/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]7/VirtualTreesR.res -text
Packages/Delphi[!!-~]XE/Delphi[!!-~]XE.groupproj -text
Packages/Delphi[!!-~]XE/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]XE/VirtualTreesD.dproj -text
Packages/Delphi[!!-~]XE/VirtualTreesD.res -text
Packages/Delphi[!!-~]XE/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]XE/VirtualTreesR.dproj -text
Packages/Delphi[!!-~]XE/VirtualTreesR.res -text
/Read[!!-~]me.txt -text
Resources/VT[!!-~]XP[!!-~]button[!!-~]minus.bmp -text
Resources/VT[!!-~]XP[!!-~]button[!!-~]plus.bmp -text
Resources/VT[!!-~]XP.bmp -text
Resources/VT[!!-~]check[!!-~]dark.bmp -text
Resources/VT[!!-~]check[!!-~]light.bmp -text
Resources/VT[!!-~]flat.bmp -text
Resources/VT[!!-~]header[!!-~]split.cur -text
Resources/VT[!!-~]move[!!-~]all.bmp -text
Resources/VT[!!-~]move[!!-~]all.cur -text
Resources/VT[!!-~]move[!!-~]east-west.bmp -text
Resources/VT[!!-~]move[!!-~]east-west.cur -text
Resources/VT[!!-~]move[!!-~]east.cur -text
Resources/VT[!!-~]move[!!-~]north-east.cur -text
Resources/VT[!!-~]move[!!-~]north-south.bmp -text
Resources/VT[!!-~]move[!!-~]north-south.cur -text
Resources/VT[!!-~]move[!!-~]north-west.cur -text
Resources/VT[!!-~]move[!!-~]north.cur -text
Resources/VT[!!-~]move[!!-~]south-east.cur -text
Resources/VT[!!-~]move[!!-~]south-west.cur -text
Resources/VT[!!-~]move[!!-~]south.cur -text
Resources/VT[!!-~]move[!!-~]west.cur -text
Resources/VT[!!-~]tick[!!-~]dark.bmp -text
Resources/VT[!!-~]tick[!!-~]light.bmp -text
Resources/VT[!!-~]utilities.bmp -text
Resources/VT[!!-~]vertical[!!-~]split.cur -text
Source/VTAccessibility.pas -text
Source/VTAccessibilityFactory.pas -text
Source/VTConfig.inc -text
Source/VTHeaderPopup.NET.pas -text
Source/VTHeaderPopup.dtx -text
Source/VTHeaderPopup.pas -text
Source/VirtualTrees.NET.pas -text
Source/VirtualTrees.NET.resources -text
Source/VirtualTrees.NET.resx -text
Source/VirtualTrees.dtx -text
Source/VirtualTrees.pas -text
Source/VirtualTrees.res -text
