* text=auto !eol
/CHANGES.txt -text
Contributions/GenericWrapper/VirtualTreeWrapper.pas -text
Demos/Advanced/Advanced.bdsproj -text
Demos/Advanced/Advanced.dof -text
Demos/Advanced/Advanced.dpr -text
Demos/Advanced/Advanced.exe.Manifest -text
Demos/Advanced/Advanced.res -text
Demos/Advanced/AlignDemo.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/AlignDemo.pas -text
Demos/Advanced/DrawTreeDemo.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/DrawTreeDemo.pas -text
Demos/Advanced/Editors.pas -text
Demos/Advanced/ExtraRes.rc -text
Demos/Advanced/GeneralAbilitiesDemo.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/GeneralAbilitiesDemo.pas -text
Demos/Advanced/GridDemo.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/GridDemo.pas -text
Demos/Advanced/HeaderCustomDrawDemo.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/HeaderCustomDrawDemo.pas -text
Demos/Advanced/Main.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/Main.pas -text
Demos/Advanced/MultilineDemo.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/MultilineDemo.pas -text
Demos/Advanced/PropertiesDemo.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/PropertiesDemo.pas -text
Demos/Advanced/Res/Arabic.uni -text
Demos/Advanced/Res/Background.bmp -text
Demos/Advanced/Res/Background2.bmp -text
Demos/Advanced/Res/Book.bmp -text
Demos/Advanced/Res/Chart.bmp -text
Demos/Advanced/Res/Chinese.bmp -text
Demos/Advanced/Res/Clipboard.bmp -text
Demos/Advanced/Res/Cyrillic.bmp -text
Demos/Advanced/Res/Earth.bmp -text
Demos/Advanced/Res/Exit.bmp -text
Demos/Advanced/Res/Eye.bmp -text
Demos/Advanced/Res/Fist.bmp -text
Demos/Advanced/Res/ForeignStrings.rc -text
Demos/Advanced/Res/Greek.uni -text
Demos/Advanced/Res/Header.bmp -text
Demos/Advanced/Res/Hebrew.uni -text
Demos/Advanced/Res/Image[!!-~]list[!!-~]24x24.bmp -text
Demos/Advanced/Res/Image[!!-~]list[!!-~]32x32.bmp -text
Demos/Advanced/Res/Lorem[!!-~]ipsum.uni -text
Demos/Advanced/Res/Multiline.bmp -text
Demos/Advanced/Res/Omega.bmp -text
Demos/Advanced/Res/Paintbrush.bmp -text
Demos/Advanced/Res/Sheets.bmp -text
Demos/Advanced/Res/Transcriptions.bmp -text
Demos/Advanced/Res/XP.bmp -text
Demos/Advanced/SpeedDemo.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/SpeedDemo.pas -text
Demos/Advanced/States.dfm -text
Demos/Advanced/States.pas -text
Demos/Advanced/VisibilityDemo.dfm -text svneol=unset#application/octet-stream
Demos/Advanced/VisibilityDemo.pas -text
Demos/Advanced/WindowsXPStyleDemo.dfm -text
Demos/Advanced/WindowsXPStyleDemo.pas -text
Demos/Advanced/mainicon.ico -text
Demos/Minimal/Main.dfm -text svneol=unset#application/octet-stream
Demos/Minimal/Main.pas -text
Demos/Minimal/Minimal.dof -text
Demos/Minimal/Minimal.dpr -text
Demos/Minimal/Minimal.exe.Manifest -text
Demos/Minimal/Minimal.res -text
Demos/Minimal/mainicon.ico -text
Demos/OLE/Main.dfm -text svneol=unset#application/octet-stream
Demos/OLE/Main.pas -text
Demos/OLE/OLE.dof -text
Demos/OLE/OLE.dpr -text
Demos/OLE/OLE.exe.Manifest -text
Demos/OLE/OLE.res -text
Demos/OLE/Res/Extra.res -text
Demos/OLE/Res/Text.rtf -text svneol=unset#unset
Demos/OLE/mainicon.ico -text
Demos/Objects/MVCDemo.dof -text
Demos/Objects/MVCDemo.dpr -text
Demos/Objects/MVCDemo.res -text
Demos/Objects/MVCDemoMain.dfm -text
Demos/Objects/MVCDemoMain.pas -text
Demos/Objects/MVCPanel.pas -text
Demos/Objects/MVCTypes.pas -text
Demos/Objects/Objects.exe.Manifest -text
Demos/Objects/mainicon.ico -text
Demos/VirtualTreeview.bdsgroup -text
Demos/VirtualTreeview.bpg -text
Design/VirtualTrees.dcr -text
Design/VirtualTreesReg.hpp -text
Design/VirtualTreesReg.pas -text
Help/Source/Images/Background.bmp -text
Help/Source/Images/Background.jpg -text
Help/Source/Images/Big[!!-~]folder.bmp -text
Help/Source/Images/Big[!!-~]folder.jpg -text
Help/Source/Images/Blue[!!-~]star.bmp -text
Help/Source/Images/Blue[!!-~]star.jpg -text
Help/Source/Images/ButtonFillModes.bmp -text
Help/Source/Images/ButtonFillModes.jpg -text
Help/Source/Images/Check[!!-~]images[!!-~]overview.bmp -text
Help/Source/Images/Check[!!-~]images[!!-~]overview.jpg -text
Help/Source/Images/CheckDark.bmp -text
Help/Source/Images/CheckDark.jpg -text
Help/Source/Images/CheckLight.bmp -text
Help/Source/Images/CheckLight.jpg -text
Help/Source/Images/Checker150.bmp -text
Help/Source/Images/Checker150.jpg -text
Help/Source/Images/Class[!!-~]2.bmp -text
Help/Source/Images/Class[!!-~]2.jpg -text
Help/Source/Images/Clock.bmp -text
Help/Source/Images/Clock.jpg -text
Help/Source/Images/Constant[!!-~]2.bmp -text
Help/Source/Images/Constant[!!-~]2.jpg -text
Help/Source/Images/Document.bmp -text
Help/Source/Images/Document.jpg -text
Help/Source/Images/Event[!!-~]2.bmp -text
Help/Source/Images/Event[!!-~]2.jpg -text
Help/Source/Images/Field[!!-~]2.bmp -text
Help/Source/Images/Field[!!-~]2.jpg -text
Help/Source/Images/Folder.bmp -text
Help/Source/Images/Folder.jpg -text
Help/Source/Images/GenericXP.bmp -text
Help/Source/Images/GenericXP.jpg -text
Help/Source/Images/Help+Support.bmp -text
Help/Source/Images/Help+Support.jpg -text
Help/Source/Images/Hierarchy.bmp -text
Help/Source/Images/Hierarchy.jpg -text
Help/Source/Images/Hot.bmp -text
Help/Source/Images/Hot.jpg -text
Help/Source/Images/Info.bmp -text
Help/Source/Images/Info.jpg -text
Help/Source/Images/Library.bmp -text
Help/Source/Images/Library.jpg -text
Help/Source/Images/License.bmp -text
Help/Source/Images/License.jpg -text
Help/Source/Images/LineModes.bmp -text
Help/Source/Images/LineModes.jpg -text
Help/Source/Images/Link[!!-~]new.bmp -text
Help/Source/Images/Link[!!-~]new.jpg -text
Help/Source/Images/Mail.bmp -text
Help/Source/Images/Mail.jpg -text
Help/Source/Images/Method[!!-~]2.bmp -text
Help/Source/Images/Method[!!-~]2.jpg -text
Help/Source/Images/Overview.bmp -text
Help/Source/Images/Overview.jpg -text
Help/Source/Images/Property[!!-~]2.bmp -text
Help/Source/Images/Property[!!-~]2.jpg -text
Help/Source/Images/Read[!!-~]only[!!-~]3.bmp -text
Help/Source/Images/Read[!!-~]only[!!-~]3.jpg -text
Help/Source/Images/Selection[!!-~]mode.bmp -text
Help/Source/Images/Selection[!!-~]mode.jpg -text
Help/Source/Images/Snow[!!-~]earth.bmp -text
Help/Source/Images/Snow[!!-~]earth.jpg -text
Help/Source/Images/Source[!!-~]code.bmp -text
Help/Source/Images/Source[!!-~]code.jpg -text
Help/Source/Images/Space100.bmp -text
Help/Source/Images/Space100.jpg -text
Help/Source/Images/StripeDark.bmp -text
Help/Source/Images/StripeDark.jpg -text
Help/Source/Images/StripeLight.bmp -text
Help/Source/Images/StripeLight.jpg -text
Help/Source/Images/Struct[!!-~]2.bmp -text
Help/Source/Images/Struct[!!-~]2.jpg -text
Help/Source/Images/TickDark.bmp -text
Help/Source/Images/TickDark.jpg -text
Help/Source/Images/TickLight.bmp -text
Help/Source/Images/TickLight.jpg -text
Help/Source/Images/Titel.jpg -text
Help/Source/Images/Topaz.bmp -text
Help/Source/Images/Topaz.jpg -text
Help/Source/Images/TreeWindow.bmp -text
Help/Source/Images/TreeWindow.jpg -text
Help/Source/Images/Type[!!-~]2.bmp -text
Help/Source/Images/Type[!!-~]2.jpg -text
Help/Source/Images/Variable[!!-~]2.bmp -text
Help/Source/Images/Variable[!!-~]2.jpg -text
Help/Source/Images/abstract[!!-~]2.bmp -text
Help/Source/Images/abstract[!!-~]2.jpg -text
Help/Source/Images/private[!!-~]2.bmp -text
Help/Source/Images/private[!!-~]2.jpg -text
Help/Source/Images/private[!!-~]DG.bmp -text
Help/Source/Images/private[!!-~]DG.jpg -text
Help/Source/Images/protect[!!-~]DG.bmp -text
Help/Source/Images/protect[!!-~]DG.jpg -text
Help/Source/Images/protected[!!-~]2.bmp -text
Help/Source/Images/protected[!!-~]2.jpg -text
Help/Source/Images/public[!!-~]2.bmp -text
Help/Source/Images/public[!!-~]2.jpg -text
Help/Source/Images/public[!!-~]DG.bmp -text
Help/Source/Images/public[!!-~]DG.jpg -text
Help/Source/Images/published[!!-~]2.bmp -text
Help/Source/Images/published[!!-~]2.jpg -text
Help/Source/Images/read[!!-~]only[!!-~]2.bmp -text
Help/Source/Images/read[!!-~]only[!!-~]2.jpg -text
Help/Source/Images/readonly[!!-~]DG.bmp -text
Help/Source/Images/readonly[!!-~]DG.jpg -text
Help/Source/Images/virtual[!!-~]2.bmp -text
Help/Source/Images/virtual[!!-~]2.jpg -text
Help/Source/Include/AdditionalInfo.dtx -text
Help/Source/Include/DataHandling.dtx -text
Help/Source/Include/DragDrop.dtx -text
Help/Source/Include/Editing.dtx -text
Help/Source/Include/Features.dtx -text
Help/Source/Include/GettingStartedE.RTF -text
Help/Source/Include/GettingStartedE.dtx -text
Help/Source/Include/GettingStartedG.RTF -text
Help/Source/Include/History.dtx -text
Help/Source/Include/Installation.dtx -text
Help/Source/Include/KeyHandling.dtx -text
Help/Source/Include/Licensing.dtx -text
Help/Source/Include/Overview.dtx -text
Help/Source/Include/PaintCycles.dtx -text
Help/Source/Include/Paradigm.dtx -text
Help/Source/Include/QA.dtx -text
Help/Source/Include/Repositiory.dtx -text
Help/Source/Include/TreeImage.dtx -text
Help/Source/Include/specialtopics.dtx -text
Help/Source/VirtualTreeview.dox -text
Help/Source/VirtualTreeview.doxdb -text
Help/Source/VirtualTreeview.ldb -text
Help/VirtualTreeview.chm -text
/INSTALL.txt -text
/MakeRelease.Bat -text
Packages/BDS[!!-~]2006/VirtualTreesD.bdsproj -text
Packages/BDS[!!-~]2006/VirtualTreesD.dpk -text
Packages/BDS[!!-~]2006/VirtualTreesD.res -text
Packages/BDS[!!-~]2006/VirtualTreesR.bdsproj -text
Packages/BDS[!!-~]2006/VirtualTreesR.dpk -text
Packages/BDS[!!-~]2006/VirtualTreesR.res -text
Packages/CBuilder[!!-~]2010/VirtualTrees.groupproj -text
Packages/CBuilder[!!-~]2010/VirtualTreesD.cbproj -text
Packages/CBuilder[!!-~]2010/VirtualTreesD.cpp -text
Packages/CBuilder[!!-~]2010/VirtualTreesD.res -text
Packages/CBuilder[!!-~]2010/VirtualTreesR.cbproj -text
Packages/CBuilder[!!-~]2010/VirtualTreesR.cpp -text
Packages/CBuilder[!!-~]2010/VirtualTreesR.res -text
Packages/Delphi[!!-~]2005/VirtualTreesD.bdsproj -text
Packages/Delphi[!!-~]2005/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2005/VirtualTreesD.res -text
Packages/Delphi[!!-~]2005/VirtualTreesR.bdsproj -text
Packages/Delphi[!!-~]2005/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2005/VirtualTreesR.res -text
Packages/Delphi[!!-~]2007/Delphi[!!-~]2007.groupproj -text
Packages/Delphi[!!-~]2007/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2007/VirtualTreesD.dproj -text
Packages/Delphi[!!-~]2007/VirtualTreesD.res -text
Packages/Delphi[!!-~]2007/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2007/VirtualTreesR.dproj -text
Packages/Delphi[!!-~]2007/VirtualTreesR.res -text
Packages/Delphi[!!-~]2009/Delphi[!!-~]2009.groupproj -text
Packages/Delphi[!!-~]2009/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2009/VirtualTreesD.dproj -text
Packages/Delphi[!!-~]2009/VirtualTreesD.res -text
Packages/Delphi[!!-~]2009/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2009/VirtualTreesR.dproj -text
Packages/Delphi[!!-~]2009/VirtualTreesR.res -text
Packages/Delphi[!!-~]2010/Delphi[!!-~]2010.groupproj -text
Packages/Delphi[!!-~]2010/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2010/VirtualTreesD.dproj -text
Packages/Delphi[!!-~]2010/VirtualTreesD.res -text
Packages/Delphi[!!-~]2010/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2010/VirtualTreesR.dproj -text
Packages/Delphi[!!-~]2010/VirtualTreesR.res -text
Packages/Delphi[!!-~]7/VirtualTrees.bpg -text
Packages/Delphi[!!-~]7/VirtualTreesD.cfg -text
Packages/Delphi[!!-~]7/VirtualTreesD.dof -text
Packages/Delphi[!!-~]7/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]7/VirtualTreesD.res -text
Packages/Delphi[!!-~]7/VirtualTreesR.cfg -text
Packages/Delphi[!!-~]7/VirtualTreesR.dof -text
Packages/Delphi[!!-~]7/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]7/VirtualTreesR.res -text
Packages/Delphi[!!-~]XE/Delphi[!!-~]XE.groupproj -text
Packages/Delphi[!!-~]XE/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]XE/VirtualTreesD.dproj -text
Packages/Delphi[!!-~]XE/VirtualTreesD.res -text
Packages/Delphi[!!-~]XE/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]XE/VirtualTreesR.dproj -text
Packages/Delphi[!!-~]XE/VirtualTreesR.res -text
Packages/RAD[!!-~]Studio[!!-~]XE2 svnc_bugtraq_003anumber=true
Packages/RAD[!!-~]Studio[!!-~]XE2/RAD[!!-~]Studio[!!-~]XE2.groupproj -text
Packages/RAD[!!-~]Studio[!!-~]XE2/VirtualTreesD.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE2/VirtualTreesD.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE2/VirtualTreesD.res -text
Packages/RAD[!!-~]Studio[!!-~]XE2/VirtualTreesR.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE2/VirtualTreesR.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE2/VirtualTreesR.res -text
Packages/RAD[!!-~]Studio[!!-~]XE3/RAD[!!-~]Studio[!!-~]XE3.groupproj -text
Packages/RAD[!!-~]Studio[!!-~]XE3/VirtualTreesD.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE3/VirtualTreesD.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE3/VirtualTreesD.res -text
Packages/RAD[!!-~]Studio[!!-~]XE3/VirtualTreesR.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE3/VirtualTreesR.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE3/VirtualTreesR.res -text
Packages/RAD[!!-~]Studio[!!-~]XE4/RAD[!!-~]Studio[!!-~]XE4.groupproj -text
Packages/RAD[!!-~]Studio[!!-~]XE4/VirtualTreesD.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE4/VirtualTreesD.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE4/VirtualTreesD.res -text
Packages/RAD[!!-~]Studio[!!-~]XE4/VirtualTreesR.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE4/VirtualTreesR.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE4/VirtualTreesR.res -text
Packages/RAD[!!-~]Studio[!!-~]XE5/RAD[!!-~]Studio[!!-~]XE5.groupproj -text
Packages/RAD[!!-~]Studio[!!-~]XE5/VirtualTreesD.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE5/VirtualTreesD.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE5/VirtualTreesD.res -text
Packages/RAD[!!-~]Studio[!!-~]XE5/VirtualTreesR.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE5/VirtualTreesR.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE5/VirtualTreesR.res -text
Packages/RAD[!!-~]Studio[!!-~]XE6/RAD[!!-~]Studio[!!-~]XE6.groupproj -text
Packages/RAD[!!-~]Studio[!!-~]XE6/VirtualTreesD.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE6/VirtualTreesD.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE6/VirtualTreesD.res -text
Packages/RAD[!!-~]Studio[!!-~]XE6/VirtualTreesR.dpk -text
Packages/RAD[!!-~]Studio[!!-~]XE6/VirtualTreesR.dproj -text
Packages/RAD[!!-~]Studio[!!-~]XE6/VirtualTreesR.res -text
Resources/VT[!!-~]XP[!!-~]button[!!-~]minus.bmp -text
Resources/VT[!!-~]XP[!!-~]button[!!-~]plus.bmp -text
Resources/VT[!!-~]XP.bmp -text
Resources/VT[!!-~]check[!!-~]dark.bmp -text
Resources/VT[!!-~]check[!!-~]light.bmp -text
Resources/VT[!!-~]flat.bmp -text
Resources/VT[!!-~]header[!!-~]split.cur -text
Resources/VT[!!-~]move[!!-~]all.bmp -text
Resources/VT[!!-~]move[!!-~]all.cur -text
Resources/VT[!!-~]move[!!-~]east-west.bmp -text
Resources/VT[!!-~]move[!!-~]east-west.cur -text
Resources/VT[!!-~]move[!!-~]east.cur -text
Resources/VT[!!-~]move[!!-~]north-east.cur -text
Resources/VT[!!-~]move[!!-~]north-south.bmp -text
Resources/VT[!!-~]move[!!-~]north-south.cur -text
Resources/VT[!!-~]move[!!-~]north-west.cur -text
Resources/VT[!!-~]move[!!-~]north.cur -text
Resources/VT[!!-~]move[!!-~]south-east.cur -text
Resources/VT[!!-~]move[!!-~]south-west.cur -text
Resources/VT[!!-~]move[!!-~]south.cur -text
Resources/VT[!!-~]move[!!-~]west.cur -text
Resources/VT[!!-~]tick[!!-~]dark.bmp -text
Resources/VT[!!-~]tick[!!-~]light.bmp -text
Resources/VT[!!-~]utilities.bmp -text
Resources/VT[!!-~]vertical[!!-~]split.cur -text
Source/VTAccessibility.pas -text
Source/VTAccessibilityFactory.pas -text
Source/VTHeaderPopup.dtx -text
Source/VTHeaderPopup.pas -text
Source/VirtualTrees.dtx -text
Source/VirtualTrees.pas -text
Source/VirtualTrees.res -text
