Contributions/*.xml
Contributions/GenericWrapper/*.xml
Contributions/GenericWrapper/__history
Contributions/__history
Delphi-deprecated/*.cfg
Delphi-deprecated/*.dof
Delphi-deprecated/*.dsk
Delphi-deprecated/*.identcache
Delphi-deprecated/__history
Design/__history
Packages/BDS[!!-~]2006/*.cfg
Packages/BDS[!!-~]2006/*.dof
Packages/BDS[!!-~]2006/*.identcache
Packages/BDS[!!-~]2006/*.local
Packages/BDS[!!-~]2006/*.rsp
Packages/BDS[!!-~]2006/Old
Packages/BDS[!!-~]2006/__history
Packages/Delphi[!!-~]2005/*.cfg
Packages/Delphi[!!-~]7/*.cfg
Packages/Delphi[!!-~]7/*.dcu
Packages/Delphi[!!-~]7/*.~dpk
Resources/Thumbs.db
Source/*.xml
Source/VTHeaderPopup.hpp
Source/VirtualTrees.hpp
Source/__history
intermediate/*.dcu
