* text=auto !eol
CBuilder/VirtualTreesC4.bpk -text
CBuilder/VirtualTreesC4.cpp -text
CBuilder/VirtualTreesC4.res -text
CBuilder/VirtualTreesC4D.bpk -text
CBuilder/VirtualTreesC4D.cpp -text
CBuilder/VirtualTreesC4D.res -text
CBuilder/VirtualTreesC5.bpk -text
CBuilder/VirtualTreesC5.cpp -text
CBuilder/VirtualTreesC5.res -text
CBuilder/VirtualTreesC5D.bpk -text
CBuilder/VirtualTreesC5D.cpp -text
CBuilder/VirtualTreesC5D.res -text
CBuilder/VirtualTreesC6.bpk -text
CBuilder/VirtualTreesC6.cpp -text
CBuilder/VirtualTreesC6.res -text
CBuilder/VirtualTreesC6D.bpk -text
CBuilder/VirtualTreesC6D.cpp -text
CBuilder/VirtualTreesC6D.res -text
Common/Compilers.h -text
Common/Compilers.inc -text
Common/MSAAIntf.pas -text
Common/Readme.txt -text
Delphi/DelphiGems.VirtualTrees.Design.bdsproj.local -text
Delphi/DelphiGems.VirtualTrees.Design.dpk -text
Delphi/DelphiGems.VirtualTrees.bdsproj -text
Delphi/DelphiGems.VirtualTrees.bdsproj.local -text
Delphi/DelphiGems.VirtualTrees.dpk -text
Delphi/DelphiGems.VirtualTrees.rsp -text
Delphi/VirtualTreesD10.bdsproj -text
Delphi/VirtualTreesD10.bdsproj.local -text
Delphi/VirtualTreesD10.dpk -text
Delphi/VirtualTreesD10.res -text
Delphi/VirtualTreesD10D.bdsproj -text
Delphi/VirtualTreesD10D.bdsproj.local -text
Delphi/VirtualTreesD10D.dpk -text
Delphi/VirtualTreesD10D.res -text
Delphi/VirtualTreesD11.dpk -text
Delphi/VirtualTreesD11.res -text
Delphi/VirtualTreesD11D.dpk -text
Delphi/VirtualTreesD11D.res -text
Delphi/VirtualTreesD12.dpk -text
Delphi/VirtualTreesD12.res -text
Delphi/VirtualTreesD12D.dpk -text
Delphi/VirtualTreesD12D.res -text
Delphi/VirtualTreesD4.dpk -text
Delphi/VirtualTreesD4.res -text
Delphi/VirtualTreesD4D.dpk -text
Delphi/VirtualTreesD4D.res -text
Delphi/VirtualTreesD5.dpk -text
Delphi/VirtualTreesD5.res -text
Delphi/VirtualTreesD5D.dpk -text
Delphi/VirtualTreesD5D.res -text
Delphi/VirtualTreesD6.dpk -text
Delphi/VirtualTreesD6.res -text
Delphi/VirtualTreesD6D.dpk -text
Delphi/VirtualTreesD6D.res -text
Delphi/VirtualTreesD7.dpk -text
Delphi/VirtualTreesD7.res -text
Delphi/VirtualTreesD7D.dpk -text
Delphi/VirtualTreesD7D.res -text
Delphi/VirtualTreesD9.bdsproj -text
Delphi/VirtualTreesD9.bdsproj.local -text
Delphi/VirtualTreesD9.dpk -text
Delphi/VirtualTreesD9.res -text
Delphi/VirtualTreesD9D.bdsproj -text
Delphi/VirtualTreesD9D.bdsproj.local -text
Delphi/VirtualTreesD9D.dpk -text
Delphi/VirtualTreesD9D.res -text
Design/DelphiGems.VirtualControls.VirtualTreesReg.pas -text
Design/StrEditD4.dfm -text
Design/StrEditD4.pas -text
Design/VirtualTrees.dcr -text
Design/VirtualTreesReg.hpp -text
Design/VirtualTreesReg.pas -text
Packages/BCB[!!-~]4/VirtualTreesD.bpk -text
Packages/BCB[!!-~]4/VirtualTreesD.cpp -text
Packages/BCB[!!-~]4/VirtualTreesD.res -text
Packages/BCB[!!-~]4/VirtualTreesR.bpk -text
Packages/BCB[!!-~]4/VirtualTreesR.cpp -text
Packages/BCB[!!-~]4/VirtualTreesR.res -text
Packages/BCB[!!-~]5/VirtualTreesD.bpk -text
Packages/BCB[!!-~]5/VirtualTreesD.cpp -text
Packages/BCB[!!-~]5/VirtualTreesD.res -text
Packages/BCB[!!-~]5/VirtualTreesR.bpk -text
Packages/BCB[!!-~]5/VirtualTreesR.cpp -text
Packages/BCB[!!-~]5/VirtualTreesR.res -text
Packages/BCB[!!-~]6/VirtualTreesD.bpk -text
Packages/BCB[!!-~]6/VirtualTreesD.cpp -text
Packages/BCB[!!-~]6/VirtualTreesD.res -text
Packages/BCB[!!-~]6/VirtualTreesR.bpk -text
Packages/BCB[!!-~]6/VirtualTreesR.cpp -text
Packages/BCB[!!-~]6/VirtualTreesR.res -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTrees.bdsproj -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTrees.dpk -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTrees.resources -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTrees.rsp -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTreesD.bdsproj -text
Packages/BDS[!!-~]2006/DelphiGems.VirtualControls.VirtualTreesD.dpk -text
Packages/BDS[!!-~]2006/VirtualTrees.NET.resources -text
Packages/BDS[!!-~]2006/VirtualTrees.NET.resx -text
Packages/BDS[!!-~]2006/VirtualTreesD.bdsproj -text
Packages/BDS[!!-~]2006/VirtualTreesD.dpk -text
Packages/BDS[!!-~]2006/VirtualTreesD.res -text
Packages/BDS[!!-~]2006/VirtualTreesR.bdsproj -text
Packages/BDS[!!-~]2006/VirtualTreesR.dpk -text
Packages/BDS[!!-~]2006/VirtualTreesR.res -text
Packages/Delphi[!!-~]2005/VirtualTreesD.bdsproj -text
Packages/Delphi[!!-~]2005/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2005/VirtualTreesD.res -text
Packages/Delphi[!!-~]2005/VirtualTreesR.bdsproj -text
Packages/Delphi[!!-~]2005/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2005/VirtualTreesR.res -text
Packages/Delphi[!!-~]2007/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]2007/VirtualTreesD.dproj -text
Packages/Delphi[!!-~]2007/VirtualTreesD.res -text
Packages/Delphi[!!-~]2007/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]2007/VirtualTreesR.dproj -text
Packages/Delphi[!!-~]2007/VirtualTreesR.res -text
Packages/Delphi[!!-~]4/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]4/VirtualTreesD.res -text
Packages/Delphi[!!-~]4/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]4/VirtualTreesR.res -text
Packages/Delphi[!!-~]5/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]5/VirtualTreesD.res -text
Packages/Delphi[!!-~]5/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]5/VirtualTreesR.res -text
Packages/Delphi[!!-~]6/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]6/VirtualTreesD.res -text
Packages/Delphi[!!-~]6/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]6/VirtualTreesR.res -text
Packages/Delphi[!!-~]7/VirtualTreesD.dpk -text
Packages/Delphi[!!-~]7/VirtualTreesD.res -text
Packages/Delphi[!!-~]7/VirtualTreesR.dpk -text
Packages/Delphi[!!-~]7/VirtualTreesR.res -text
Resources/VT[!!-~]XP[!!-~]button[!!-~]minus.bmp -text
Resources/VT[!!-~]XP[!!-~]button[!!-~]plus.bmp -text
Resources/VT[!!-~]XP.bmp -text
Resources/VT[!!-~]check[!!-~]dark.bmp -text
Resources/VT[!!-~]check[!!-~]light.bmp -text
Resources/VT[!!-~]flat.bmp -text
Resources/VT[!!-~]header[!!-~]split.cur -text
Resources/VT[!!-~]move[!!-~]all.bmp -text
Resources/VT[!!-~]move[!!-~]all.cur -text
Resources/VT[!!-~]move[!!-~]east-west.bmp -text
Resources/VT[!!-~]move[!!-~]east-west.cur -text
Resources/VT[!!-~]move[!!-~]east.cur -text
Resources/VT[!!-~]move[!!-~]north-east.cur -text
Resources/VT[!!-~]move[!!-~]north-south.bmp -text
Resources/VT[!!-~]move[!!-~]north-south.cur -text
Resources/VT[!!-~]move[!!-~]north-west.cur -text
Resources/VT[!!-~]move[!!-~]north.cur -text
Resources/VT[!!-~]move[!!-~]south-east.cur -text
Resources/VT[!!-~]move[!!-~]south-west.cur -text
Resources/VT[!!-~]move[!!-~]south.cur -text
Resources/VT[!!-~]move[!!-~]west.cur -text
Resources/VT[!!-~]tick[!!-~]dark.bmp -text
Resources/VT[!!-~]tick[!!-~]light.bmp -text
Resources/VT[!!-~]utilities.bmp -text
Resources/VT[!!-~]vertical[!!-~]split.cur -text
Source/VTAccessibility.pas -text
Source/VTAccessibilityFactory.pas -text
Source/VTConfig.inc -text
Source/VTHeaderPopup.NET.pas -text
Source/VTHeaderPopup.dtx -text
Source/VTHeaderPopup.pas -text
Source/VirtualTrees.NET.pas -text
Source/VirtualTrees.NET.resources -text
Source/VirtualTrees.NET.resx -text
Source/VirtualTrees.dtx -text
Source/VirtualTrees.pas -text
Source/VirtualTrees.res -text
demos/Advanced/Advanced.bdsproj -text
demos/Advanced/Advanced.dpr -text
demos/Advanced/Advanced.exe.Manifest -text
demos/Advanced/Advanced.res -text
demos/Advanced/AlignDemo.dfm -text
demos/Advanced/AlignDemo.pas -text
demos/Advanced/DrawTreeDemo.dfm -text
demos/Advanced/DrawTreeDemo.pas -text
demos/Advanced/Editors.pas -text
demos/Advanced/GeneralAbilitiesDemo.dfm -text
demos/Advanced/GeneralAbilitiesDemo.pas -text
demos/Advanced/GridDemo.dfm -text
demos/Advanced/GridDemo.pas -text
demos/Advanced/HeaderCustomDrawDemo.dfm -text
demos/Advanced/HeaderCustomDrawDemo.pas -text
demos/Advanced/Main.dfm -text
demos/Advanced/Main.pas -text
demos/Advanced/MultilineDemo.dfm -text
demos/Advanced/MultilineDemo.pas -text
demos/Advanced/PropertiesDemo.dfm -text
demos/Advanced/PropertiesDemo.pas -text
demos/Advanced/Res/Arabic.uni -text
demos/Advanced/Res/Background.bmp -text
demos/Advanced/Res/Background2.bmp -text
demos/Advanced/Res/Book.bmp -text
demos/Advanced/Res/Chart.bmp -text
demos/Advanced/Res/Chinese.bmp -text
demos/Advanced/Res/Clipboard.bmp -text
demos/Advanced/Res/Cyrillic.bmp -text
demos/Advanced/Res/Earth.bmp -text
demos/Advanced/Res/Exit.bmp -text
demos/Advanced/Res/ExtraRes.rc -text
demos/Advanced/Res/Eye.bmp -text
demos/Advanced/Res/Fist.bmp -text
demos/Advanced/Res/ForeignStrings.rc -text
demos/Advanced/Res/Greek.uni -text
demos/Advanced/Res/Header.bmp -text
demos/Advanced/Res/Hebrew.uni -text
demos/Advanced/Res/Image[!!-~]list[!!-~]24x24.bmp -text
demos/Advanced/Res/Image[!!-~]list[!!-~]32x32.bmp -text
demos/Advanced/Res/Lorem[!!-~]ipsum.uni -text
demos/Advanced/Res/Multiline.bmp -text
demos/Advanced/Res/Omega.bmp -text
demos/Advanced/Res/Paintbrush.bmp -text
demos/Advanced/Res/Sheets.bmp -text
demos/Advanced/Res/Transcriptions.bmp -text
demos/Advanced/Res/XP.bmp -text
demos/Advanced/SpeedDemo.dfm -text
demos/Advanced/SpeedDemo.pas -text
demos/Advanced/States.dfm -text
demos/Advanced/States.pas -text
demos/Advanced/VisibilityDemo.dfm -text
demos/Advanced/VisibilityDemo.pas -text
demos/Advanced/WindowsXPStyleDemo.dfm -text
demos/Advanced/WindowsXPStyleDemo.pas -text
demos/Advanced/mainicon.ico -text
demos/Minimal/Main.dfm -text
demos/Minimal/Main.pas -text
demos/Minimal/Minimal.dpr -text
demos/Minimal/Minimal.exe.Manifest -text
demos/Minimal/Minimal.res -text
demos/Minimal/mainicon.ico -text
demos/OLE/Main.dfm -text
demos/OLE/Main.pas -text
demos/OLE/OLE.dpr -text
demos/OLE/OLE.exe.Manifest -text
demos/OLE/Res/Extra.res -text
demos/OLE/Res/Text.rtf -text svneol=unset#unset
demos/OLE/mainicon.ico -text
demos/Objects/MVCDemo.dpr -text
demos/Objects/MVCDemo.res -text
demos/Objects/MVCDemoMain.dfm -text
demos/Objects/MVCDemoMain.pas -text
demos/Objects/MVCPanel.pas -text
demos/Objects/MVCTypes.pas -text
demos/Objects/Objects.exe.Manifest -text
demos/Objects/mainicon.ico -text
demos/VirtualTreeview.bdsgroup -text
demos/VirtualTreeview.bpg -text
